/* General CSS */
#black_line {
  border-left: 1px solid rgb(0, 0, 0);
  height: 800px;
  position: relative;
  /* text-align: left; */
  left: 50%;
  margin-left: -3px;
  top: 0;
}

.btn-outline-george {
  color: #333333;
  border-color: #333333;
}

.btn-outline-george:active, .btn-outline-george:hover {
  background-color: #333333;
  color: #fff;
}

/* LandingsPage CSS */
.landingPageSale {
  max-height: 80vh;
}

#title_menu {
  margin: auto;
  width: 50%;
  border: 3px solid black;
  padding: 10px;
}
