/* General CSS */
#black_line {
  border-left: 1px solid rgb(0, 0, 0);
  height: 800px;
  position: relative;
  /* text-align: left; */
  left: 50%;
  margin-left: -3px;
  top: 0;
}

.text-upper {
  text-transform: uppercase;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

/* CSS for Modal in George Marina style */
.george_modal {
  border-radius: 0;
}

.george_modal .form-control {
  border-radius: 0;
}

.george_modal .form-control:focus {
  border-color: #333333 !important;
  box-shadow: 0 0 5px #333333 !important;
}

.george_modal .form-check-input:checked {
  border-color: #333333 !important;
  box-shadow: 0 0 5px #333333 !important;
  background-color: #333333 !important;
}

.george_modal .form-check-input:focus {
  border-color: #333333;
  box-shadow: 0 0 5px #333333 !important;
}

.george_modal .input-group-text {
  border-radius: 0;
}

.george_modal a.registerlink {
  color: #333333;
  text-decoration: none;
}

.george_modal a.registerlink:active, .george_modal a.registerlink:hover {
  color: #000;
  text-decoration: underline;
}

.no-margin {
  margin-left: 0!important;
  margin-right: 0!important;
}

.btn-outline-george {
  color: #333333;
  border-radius: 0;
  border-color: #333333;
}

.btn-outline-george:active, .btn-outline-george:hover {
  background-color: #333333;
  color: #fff;
}

.btn-cancel {
  color: #d41717;
  border-radius: 0;
  border-color: #d41717;
}

.btn-cancel:active, .btn-cancel:hover {
  background-color: #d41717;
  color: #fff;
}

/* Footer CSS */
.footer_item {
  border: none;
}

.footer_item>a {
  color: #333333;
  text-decoration: none;
}

.footer_item>a:hover, .footer_item>a:active {
  text-decoration: underline;
}

.cr {
  text-align: center;
}

.formtext {
  padding: 6px 12px;
  border: 1px black;
}

.form-check-input[type=checkbox] {
  border-radius: 0;
}

/* LandingsPage CSS */
.landingPageSale {
  max-width: 40%;
}

#title_menu {
  margin: auto;
  width: 50%;
  padding: 10px;
}

 .george_link {
  color: #333333;
  text-decoration: none;
}

 .george_link:active,  .george_link:hover {
  color: #000;
  text-decoration: underline;
}

.msg {
  position: relative;
}

.message {
  float: right;
  z-index: 50;
  position: absolute;
  padding: 2vh;
  margin-top: -2vh;
  margin-left: 60%;
}

.error-message {
  background-color: rgb(255, 50, 50);
  box-shadow: inset 5px 0 0 0 lightcoral;
}

.error-message span.error-btn {
  padding-left: .5em;
  padding-right: .5em;
  padding-bottom: .2em;
  border: 1px #333333 solid;
}
.error-message span.error-btn:hover, span.error-btn:active {
  background-color: #333333;
  color: rgb(255, 50, 50);
}

.error-button {
  border: none;
  background-color: rgb(255, 50, 50);
}

.success-message {
  background-color: rgb(51, 197, 14);
  box-shadow: inset 5px 0 0 0 rgb(137, 226, 109);
}

.success-message span.success-btn {
  padding-left: .5em;
  padding-right: .5em;
  padding-bottom: .2em;
  border: 1px #333333 solid;
}
.success-message span.success-btn:hover, span.success-btn:active {
  background-color: #333333;
  color: rgb(51, 197, 14);
}

.success-button {
  border: none;
  background-color: rgb(51, 197, 14);
}

/* Student profile CSS - Steven */
ul.student-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.student-nav li{
  float: left;
}

.student-nav li a{
  display: block;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.student-nav li a:hover{
  background-color: rgb(218, 218, 218);
}

.student-info ul {
  list-style-type: none;
}

.student-nav, .student-info, .student-options 
h1,
h2,
h3,
p
{
  font-family: george_menu;
  color: #333333 !important;
}

.student-info .col-12>h2, .student-options h1 {
  text-align: center;
}

.student-options a {
  display: block;
  margin-top: 1vh;
}

.row-info .mobielhide .img-fluid {
  height: 30vh;
  width: 30vh;
}


/* Animations test Brian */

@keyframes dropdown {
  0% {
    opacity: 0%;
    margin-top: -10px;
    margin-bottom: 10px;
  }


  100% {
    opacity: 100%;
  }
}

.animenu{
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
  animation: dropdown 250ms ease-in-out;
}

.allergies {
  margin: auto;
  width: 50%;
  padding: 10px;

}