    /* Black line in the middle */
#black_line {
  border-left: 1px solid rgb(0, 0, 0);
  height: 800px;
  position: relative;
  /* text-align: left; */
  left: 50%;
  margin-left: -3px;
  top: 0;
}

/* LandingsPage CSS */
.landingPageSale {
  max-height: 80vh;
}

#title_menu {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.allergies {
    margin: auto;
    width: 50%;
    padding: 10px;
  
}



/* Animations test Brian */

@keyframes dropdown {
  0% {
    opacity: 0%;
    margin-top: -10px;
    margin-bottom: 10px;
  }


  100% {
    opacity: 100%;
  }
}

.animenu{
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
  animation: dropdown 250ms ease-in-out;
}


